/* Rufina font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Rufina:wght@700&display=swap');

/* Core style */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    text-decoration: none;
    line-height: 1.2;
}

textarea:focus,
select:focus {
    outline: none !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

button {
    border: none;
    background: none;
}

button:focus {
    box-shadow: none !important;
}

input:focus {
    outline: none !important;
}

a:active,
a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}



.wrapper {
    overflow: hidden;
}


body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #444a57;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

.btnn {
    background: #4e4ffa;
    color: #fff;
    text-align: center;
    border: none;
    text-transform: capitalize;
    transition: all .3s linear;
    border-radius: 3px;
    height: 60px;
    line-height: 60px;
}

a.btnn {
    display: block;
}

.btnn:hover {
    background: #0102fa;
}

.container {
    padding: 0;
}

/* header & welcome */
.header-welcome {
    position: relative;
    background: url('../images/welcome-banner.jpg');
    background-position: center;
    background-size: cover;
    z-index: 90;
    text-align: center;
    color: #fff;
    height: 932px;
}

.header-welcome::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(42, 45, 84, .60);
    z-index: -1;
}

/* header start */
.container {
    max-width: 1170px !important;
}

.title-box {
    text-align: center;
}

.title-box p {
    color: #444a57;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.8;
}

.title-box h2 {
    position: relative;
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 35px;
    color: #444a57;
    text-transform: capitalize;
}

.header .navbar .container {
    display: flex;
    align-items: center;
}



.navbar .navbar-nav {
    margin: 0 !important;
}

.header .navbar {
    padding: 0 !important;
}

#navbarSupportedContent {
    justify-content: end;
}

.header .navbar-brand {
    color: #fff;
    font-size: 24px;
    letter-spacing: 3px;
    font-family: 'Rufina', serif;
    font-weight: 700;
    padding: 45px 0px;
    text-transform: uppercase;
    cursor: pointer;
}

.header .nav-link.activee {
    color: #4e4ffa;
}

.header .nav-item:hover .nav-link {
    color: #4e4ffa;
    cursor: pointer;
}

.header .nav-item {
    cursor: pointer;
}

.header .nav-link {
    padding: 0;
    color: #f5f7fa;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .3s linear;
    padding: 48px 21px;
}

/* welcome */
.welcome {
    padding-top: 176px;
}

.welcome .title-box {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.welcome .title-box h2 {
    font-size: 42px;
    color: #fff;
    font-weight: 700;
    padding-bottom: 0;
    text-transform: uppercase;
}

.welcome .title-box p {
    font-size: 18px;
    text-transform: initial;
    color: #fff;
    font-weight: 500;
    max-width: 735px;
    margin: 0 auto;
}

.welcome .btnn {
    display: inline-block;
    width: 230px;
    height: 60px;
    margin-top: 55px;
    line-height: 60px;
}


/* search-car section styles */
.search-boxes {
    padding: 40px 0;
    background: #fff;
    box-shadow: 0 10px 40px 0px rgba(38, 40, 64, .2);
    position: relative;
    bottom: 159px;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 3px;
    z-index: 100;
}

.one-box {
    margin-left: 85px !important;
}

.search-box {
    gap: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.select-row {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.select-row label {
    text-transform: capitalize;
    color: #444a57;
    font-size: 16px;
    font-weight: 400;
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.select-row select {
    outline: 0 !important;
    appearance: none;
    box-shadow: none;
    border: 1px solid #f8f8f8;
    background: #f8f8f8;
    height: 60px;
    font-size: 16px;
    color: #888f9d;
    width: 200px;
    text-transform: capitalize;
    padding: 6px 12px;
    border-radius: 3px;
}

.select-row .select-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 12px;
}

.select-icon i {
    font-size: 20px;
    color: #888f9d;
    background: #f8f8f8;
    line-height: 60px;
}

.search-button .btnn {
    width: 160px;
    margin-left: 63px;
}


/* service section start */
.service {
    position: relative;
    top: -50px;
}

.service .service-cards {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.service .service-card {
    width: 360px;
    padding: 55px 30px 60px;
    border-radius: 3px;
    border: 1px solid #dadfe9;
    transition: all .3s linear;
}

.service .service-card:hover {
    box-shadow: 0 12px 30px 0px rgba(0, 1, 193, .2);
    background: #4e4ffa;
    border: 1px solid #4e4ffa;
}

.service .service-card:hover .service-card__icon,
.service .service-card:hover h2 a,
.service .service-card:hover p {
    color: #fff !important;
}

.service .service-card:hover p::before {
    background: #fff;
}

.service .service-card .service-card__icon {
    display: inline-block;
    color: #50616c;
    margin-bottom: 36px;
}

.service-cards .service-card a {
    margin: 0;
    color: #444a57 !important;
    height: 77px;
    line-height: 77px;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

.service-cards .service-card span {
    text-transform: lowercase;
}

.service-cards .service-card p {
    margin: 0;
    color: #818998;
    font-size: 16px;
    line-height: 1.8;
    padding-bottom: 35px;
    text-transform: initial;
    position: relative;
}

.service-cards .service-card p::before {
    position: absolute;
    bottom: 0;
    content: "";
    position: absolute;
    content: "";
    width: 20px;
    height: 3px;
    background: #3030ea;
    left: 139px;
}


/* car slider section */
.car-slider {
    background: #f8f9fb;
    padding: 112px 0 120px;
    margin-top: 50px;
    position: relative;
}

.car-slider .title-box {
    text-align: center;
}

.car-slider .title-box p {
    color: #444a57;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.8;
}

.car-slider .title-box h2 {
    position: relative;
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 35px;
    color: #444a57;
    text-transform: capitalize;
}

.car-slider .title-box h2::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 3px;
    bottom: 0;
    background: #4e4ffa;
    left: 50%;
    transform: translateX(-50%);
}

.car-slide {
    display: flex;
    gap: 30px;
    position: relative;
}

.mySwiper {
    margin-top: 96px;
}

.car-slide .slide-img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
}

.slide-info a {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 26px;
    display: inline-block;
    text-decoration: none;
    color: #444a57;
    padding: 0;
    font-weight: 500;
    text-transform: capitalize;
}

.slide-info p {
    width: 428px;
    margin: 0;
    color: #818998;
    font-size: 16px;
    line-height: 1.8;
    text-transform: initial;
}

.slide-info .car-info {
    margin-bottom: 30px;
}

.slide-info .btnn {
    width: 176px;
    text-align: center;
    margin-top: 2rem;
}

.swiper {
    overflow-x: hidden;
    overflow-y: visible;
}

.car-slider .swiper-pagination {
    position: absolute;
    bottom: 50px;
}

/* featured cars section */
#featuredCars {
    padding: 112px 0 120px 0;
}

#featuredCars .title-box h2::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 3px;
    bottom: 0;
    background: #4e4ffa;
    left: 50%;
    transform: translateX(-50%);
}

.featured-cars__boxes {
    padding-top: 96px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.featured-car__box {
    width: 262px;
}

.car-img__info {
    border: 1px solid #dadfe9;
}

.featured-car__box .car-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    height: 220px;
    border-bottom: 1px solid #dadfe9;
}

.featured-car__box .car-model {
    padding: 12px 7px;
}

.featured-car__box .car-model p {
    margin: 0;
    color: #818998;
    font-size: 13px;
    line-height: 1.8;
    text-transform: capitalize;
}

.featured-car__box .car-model .featured-mi-span {
    display: inline-block;
    margin: 0 10px;
}

.featured-car__box .car-model .featured-hp-span {
    display: inline-block;
    margin-right: 10px;
}

.featured-cars__info {
    display: flex;
    flex-direction: column;
    margin: 21px 0 47px 0;
    gap: 12px;
}

.featured-cars__info h2 a {
    font-size: 16px;
    color: #444a57;
}

.featured-cars__info h3 {
    font-size: 13px;
}

.featured-cars__info p {
    font-size: 13px;
}


/* clients section styles */
.clients {
    padding: 115px 0 80px;
    background: #f8f9fb;
}

.clients .title-box h2::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 3px;
    bottom: 0;
    background: #4e4ffa;
    left: 50%;
    transform: translateX(-50%);
}
.mySwiper-two{
    padding: 100px 0 40px;
}
.mySwiper-two .swiper-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.client-box {
    width: 360px !important;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #dadfe9;
    padding: 50px 30px 57px;
}

.client-box p {
    margin: 30px 0 25px 0;
    font-size: 16px;
    line-height: 1.8;
    color: #5e6778;
}
.client-box h2{
    line-height: 1.1;
}
.client-box h2 a {
    font-size: 16px;
    color: #5e6778;
    font-weight: 600;
}

.client-box h4 {
    font-size: 16px;
    color: #5e6778;
    font-weight: 600;
    margin-top: 10px;
}